{{ if .Values.keel.keel.env.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "akto.fullname" . }}-keel
  labels:
  {{- include "akto.labels" . | nindent 4 }}
rules:
# Minimal permissions for Keel to watch and update deployments only
- apiGroups:
  - ""
  - apps
  resources:
  - pods
  - deployments
  verbs:
  - get
  - watch
  - list
  - update
  - patch
{{ end }}
