tokens:
  env:
    proxyUri: ""
    noProxy: ""

testing:
  aktoApiSecurityTesting:
    env:
      aktoAccountName: Helios
      aktoConfigName: staging
      newTestingEnabled: "true"
      kafkaBrokerUrl: localhost:29092
      puppeteerReplayServiceUrl: http://localhost:3000
      databaseAbstractorUrl: https://cyborg.akto.io
      databaseAbstractorToken: ""
      blockLogs: "false"
      aktoLogLevel: WARN
      miniTestingName: System-auto-scaled-akto-mini-testing

    image:
      repository: public.ecr.aws/aktosecurity/akto-api-security-mini-testing
      tag: latest
    imagePullPolicy: Always
    resources:
      requests:
        cpu: "200m"
        memory: "500Mi"
      limits:
        cpu: 2
        memory: "8Gi"

  prometheusServer:
    name: prometheus
    port: 9400
    protocol: TCP
    metricsEndpoint:
      path: /metrics

  kubePrometheus:
    serviceName: prometheus-kube-prometheus-prometheus
    port: 9090
    scrape:
      interval: 15s
      timeout: 10s

  replicas: 1
  autoScaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 10
    customMetrics:
      type: prometheus
      pollingInterval: 30
      cooldownPeriod: 300
      isModuleBusy:
        metricName: is_module_busy
        trigger:
          name: is_module_busy_avg
          target: 0.9
          type: Value

  aktoApiSecurityPuppeteerReplay:
    image:
      repository: public.ecr.aws/aktosecurity/akto-puppeteer-replay
      tag: latest
    imagePullPolicy: Always
    resources:
      requests:
        cpu: 1
        memory: "2Gi"
      limits:
        cpu: 1
        memory: "4Gi"

  kafka1:
    env:
      kafkaBrokerId: "1"
      kafkaCleanupPolicy: delete
      kafkaCreateTopics: akto.test.messages:1:1
      kafkaInterBrokerListenerName: LISTENER_DOCKER_EXTERNAL_LOCALHOST
      kafkaListenerSecurityProtocolMap: CONTROLLER:PLAINTEXT,LISTENER_DOCKER_EXTERNAL_LOCALHOST:PLAINTEXT,LISTENER_DOCKER_EXTERNAL_DIFFHOST:PLAINTEXT
      kafkaProcessRoles: "broker,controller"
      kafkaNodeId: "1"
      kafkaControllerQuorumVoters: "1@localhost:9093"
      kafkaControllerListenerNames: "CONTROLLER"
      kafkaListeners: "CONTROLLER://0.0.0.0:9093,LISTENER_DOCKER_EXTERNAL_LOCALHOST://0.0.0.0:29092,LISTENER_DOCKER_EXTERNAL_DIFFHOST://0.0.0.0:9092"
      kafkaLogCleanerEnable: "true"
      kafkaLogRetentionBytes: "10737418240"
      kafkaLogRetentionCheckIntervalMs: "60000"
      kafkaLogRetentionHours: "5"
      kafkaLogSegmentBytes: "104857600"
      kafkaOffsetsTopicReplicationFactor: "1"
      kafkaTransactionStateLogMinIsr: "1"
      kafkaTransactionStateLogReplicationFactor: "1"
      kafkaClusterId: "c6a1b8e2-4f2a-4b2a-9c3f-1a2b3c4d5e6f"
    image:
      repository: public.ecr.aws/aktosecurity/confluentinc-cp-kafka
      tag: 8.1.0
    resources:
      requests:
        cpu: 1
        memory: "2Gi"
      limits:
        cpu: 2
        memory: "4Gi"
  ports:
  - port: 9092
    targetPort: 9092
  type: ClusterIP

keel:
  keel:
    env:
      awsAccessKeyId: ""
      awsRegion: ""
      awsSecretAccessKey: ""
      hipchatApprovalsBotName: ""
      hipchatApprovalsChannel: ""
      hipchatApprovalsPasswort: ""
      hipchatApprovalsUserName: ""
      hipchatChannels: ""
      hipchatToken: ""
      insecureRegistry: "true"
      mattermostEndpoint: ""
      notificationLevel: info
      webhookEndpoint: ""
    image:
      repository: public.ecr.aws/aktosecurity/keelhq-keel
      tag: latest
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 50m
        memory: 64Mi
    enabled: true
  maxUnavailable: 1
  ports:
  - name: keel
    port: 9300
    protocol: TCP
    targetPort: 9300
  replicas: 1
  serviceAccount:
    annotations: {}
  type: LoadBalancer
kubernetesClusterDomain: cluster.local
