{{- if not .Values.mini_runtime.useExternalKafka }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "akto.fullname" . }}-mini-runtime
  labels:
  {{- include "akto.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.mini_runtime.serviceAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- else }}
    {{- with .Values.mini_runtime.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- end }}
spec:
  type: {{ .Values.mini_runtime.type }}
  selector:
    app: {{ include "akto.fullname" . }}-mini-runtime
  {{- include "akto.selectorLabels" . | nindent 4 }}
  ports:
  {{- if .Values.mini_runtime.kafka1.useSasl }}
  - name: sasl-plaintext
    port: {{ .Values.mini_runtime.kafka1.servicePort | default 9092 }}
    targetPort: 9092
  - name: sasl-ssl
    port: {{ .Values.mini_runtime.kafka1.servicePortTls | default 9093 }}
    targetPort: 9093
  {{- else if .Values.mini_runtime.kafka1.useTls }}
  - name: plaintext
    port: {{ .Values.mini_runtime.kafka1.servicePort | default 9092 }}
    targetPort: 9092
  - name: ssl
    port: {{ .Values.mini_runtime.kafka1.servicePortTls | default 9093 }}
    targetPort: 9093
  {{- else }}
  - port: {{ .Values.mini_runtime.kafka1.servicePort | default 9092 }}
    targetPort: 9092
  {{- end }}
{{- end }}
