{{- if not .Values.mini_runtime.useExternalKafka }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "akto.fullname" . }}-mini-runtime
  labels:
  {{- include "akto.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.mini_runtime.serviceAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- else }}
    {{- with .Values.mini_runtime.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- end }}
spec:
  type: {{ .Values.mini_runtime.type }}
  selector:
    app: {{ include "akto.fullname" . }}-mini-runtime
  {{- include "akto.selectorLabels" . | nindent 4 }}
  ports:
  {{- if .Values.mini_runtime.kafka1.useSasl }}
  {{- range .Values.ports.sasl }}
  - name: {{ .name }}
    port: {{ if eq .name "sasl-plaintext" }}{{ $.Values.mini_runtime.kafka1.servicePort | default .port }}{{ else }}{{ $.Values.mini_runtime.kafka1.servicePortTls | default .port }}{{ end }}
    targetPort: {{ .targetPort }}
    {{- if .protocol }}
    protocol: {{ .protocol }}
    {{- end }}
  {{- end }}
  {{- else if .Values.mini_runtime.kafka1.useTls }}
  {{- range .Values.ports.tls }}
  - name: {{ .name }}
    port: {{ if eq .name "plaintext" }}{{ $.Values.mini_runtime.kafka1.servicePort | default .port }}{{ else }}{{ $.Values.mini_runtime.kafka1.servicePortTls | default .port }}{{ end }}
    targetPort: {{ .targetPort }}
    {{- if .protocol }}
    protocol: {{ .protocol }}
    {{- end }}
  {{- end }}
  {{- else }}
  {{- range .Values.ports.default }}
  - {{- if .name }}
    name: {{ .name }}
    {{- end }}
    port: {{ $.Values.mini_runtime.kafka1.servicePort | default .port }}
    targetPort: {{ .targetPort }}
    {{- if .protocol }}
    protocol: {{ .protocol }}
    {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
