apiVersion: v1
kind: Service
metadata:
  name: {{ include "akto.fullname" . }}-mini-runtime
  labels:
  {{- include "akto.labels" . | nindent 4 }}
  annotations:
    {{- if and .Values.mini_runtime.loadBalancer.enabled (eq .Values.mini_runtime.type "LoadBalancer") }}
    {{- with .Values.mini_runtime.loadBalancer.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- else }}
    {{- with .Values.mini_runtime.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- end }}
spec:
  type: {{ .Values.mini_runtime.type }}
  {{- if and .Values.mini_runtime.loadBalancer.enabled (eq .Values.mini_runtime.type "LoadBalancer") .Values.mini_runtime.loadBalancer.staticIP }}
  loadBalancerIP: {{ .Values.mini_runtime.loadBalancer.staticIP }}
  {{- end }}
  selector:
    app: {{ include "akto.fullname" . }}-mini-runtime
  {{- include "akto.selectorLabels" . | nindent 4 }}
  ports:
  {{- if .Values.mini_runtime.kafka1.useSasl }}
  {{- .Values.ports.sasl | toYaml | nindent 4 -}}
  {{- else if .Values.mini_runtime.kafka1.useTls }}
  {{- .Values.ports.tls | toYaml | nindent 4 -}}
  {{- else }}
  {{- .Values.ports.default | toYaml | nindent 4 -}}
  {{- end }}
